<div>
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  
  <% if @book_create.errors.any? %>
    <div id="error_explanation">
      <% if @book_create.errors.count == 2%>
        <h2><%= @book_create.errors.count %> errors prohibited this obj from being saved:</h2>
        <ul>
        <% @book_create.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      
      <% elsif @book_create.errors.count == 1%>
        <h2><%= @book_create.errors.count %> error prohibited this obj from being saved:</h2>
        <ul>
        <% @book_create.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: @user, book: @book_create%>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
                <%= image_tag @user.get_profile_image(80,80) %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
          </tr>

        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>